In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

# pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 200)
# pd.set_option('display.width', 500)
# pd.set_option('display.max_colwidth', -1)

In [4]:
movie_credit = pd.read_csv('./data/tmdb_5000_credits.csv', encoding='raw_unicode_escape')

In [4]:
movie_credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
movie_id    4803 non-null int64
title       4803 non-null object
cast        4803 non-null object
crew        4803 non-null object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [5]:
movie_credit.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

## get cast's name

In [6]:
import re
def split_cast_name(param):
    if param == '[]':
        return ''
    else:
        list_cast = re.findall('"name": "([A-Za-z .]*)",',param)
        cast = ''
        for i in list_cast:
            if i != '':
                cast += (i+',')
        return cast[:-1]

In [7]:
movie_credit['cast_name'] = movie_credit['cast'].apply(split_cast_name)

## get writer's name

In [8]:
def split_writer_name(param):
    if param == '[]':
        return ''
    else:
        list_writer = re.findall('"job": "Writer", "name": "([A-Za-z .]*)"}',param)
        writer = ''
        for i in list_writer:
            if i != '':
                writer += (i+',')
        if writer == '':
            return ''
        else:
            return writer[:-1]

In [9]:
movie_credit['writer'] = movie_credit['crew'].apply(split_writer_name)

## get producer's name

In [10]:
def split_producer_name(param):
    if param == '[]':
        return ''
    else:
        list_producer = re.findall('"job": "Producer", "name": "([A-Za-z .]*)"}',param)
        producer = ''
        for i in list_producer:
            if i != '':
                producer += (i+',')
        if producer == '':
            return ''
        else:
            return producer[:-1]

In [11]:
movie_credit['producer'] = movie_credit['crew'].apply(split_producer_name)

## get director's name

In [12]:
def split_director_name(param):
    if param == '[]':
        return ''
    else:
        list_director = re.findall('"job": "Director", "name": "([A-Za-z .]*)"}',param)
        director = ''
        for i in list_director:
            if i != '':
                director += (i+',')
        if director == '':
            return ''
        else:
            return director[:-1]

In [13]:
movie_credit['director'] = movie_credit['crew'].apply(split_director_name)

## drop title, cast, and crew's columns

In [14]:
movie_credit.drop(['title','cast','crew'], axis=1,inplace=True)

## check head and info again

In [15]:
movie_credit.head()

,movie_id,cast_name,writer,producer,director
0,19995,"Sam Worthington,Zoe Saldana,Sigourney Weaver,S...",James Cameron,"James Cameron,Jon Landau",James Cameron
1,285,"Johnny Depp,Orlando Bloom,Keira Knightley,Bill...",,"Jerry Bruckheimer,Eric McLeod,Chad Oman,Peter ...",Gore Verbinski
2,206647,"Daniel Craig,Christoph Waltz,Ralph Fiennes,Mon...",,"Barbara Broccoli,Michael G. Wilson",Sam Mendes
3,49026,"Christian Bale,Michael Caine,Gary Oldman,Anne ...",,"Charles Roven,Christopher Nolan,Emma Thomas",Christopher Nolan
4,49529,"Taylor Kitsch,Lynn Collins,Samantha Morton,Wil...",,"Colin Wilson,Jim Morris,Lindsey Collins",Andrew Stanton

In [16]:
movie_credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 5 columns):
movie_id     4803 non-null int64
cast_name    4803 non-null object
writer       4803 non-null object
producer     4803 non-null object
director     4803 non-null object
dtypes: int64(1), object(4)
memory usage: 187.7+ KB

## export to clean_credit.csv

In [17]:
movie_credit.to_csv('./data/clean_credit.csv', index=False)